config SMP
	bool "Symmetric multi-processing"
	default y

config MUSL_LIB
	bool "Build native musl libc"
	default y

config FISH
	bool "Fish shell"
	default y

menu "Boot"

config UEFI
	bool "Self-made UEFI bootloader"
	default y
	help
	  构建自制 UEFI 引导器与 ESP 镜像

endmenu